*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    text-align:center;
    padding: 20px 0 20px 0;
    background-color: lightcyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: salmon;
    margin-bottom: 30px;
}
.message{
    text-align: center;
    font-size: large;
}
form{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
form input{
    width: 30%;
    height: 40px;
    border: 1px solid lightskyblue;
    border-radius: 3px;
}
form input::placeholder{
    font-size: large;
    padding: 0 10px;
    color: lightsalmon;
}
input[type="text"]
{
    font-size:24px;
    padding: 20px;
    color: salmon;
}
form button{
    border: none;
    background-color: salmon;
    border-radius: 3px;
    color: white;
    width: 80px;
}
.container {
    display: flex;
    justify-content: center;
}
ul{
    border: 1px solid lightskyblue;
    border-radius: 3px;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
ul li {
    box-shadow: 0.1px 5px 3px lightgray ;
    list-style: none;
    padding: 5px 5px 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}
ul li p{
    font-family: Arial, Helvetica, sans-serif;
}
.todo-kosong{
    text-align: center;
    margin: 20px auto;
}
.button-up-del{
    display: flex;
    gap: 5px;
}
.button-up-del button{
    border: none;
    background-color: blueviolet;
    width: 50px;
    color: white;
    border-radius: 3px;
}